<div id="app"></div>

<script type="text/javascript" charset="utf-8">
  jQuery(function(){
      // onready, instantiate App
      window.app = new App({el: $("#app")})
      });
</script>

<div id="show">
<h1>Show Bwimage</h1>

<p data-text="bwimage.title"></p>
<p data-text="bwimage.camera"></p>
<p data-text="bwimage.taken-at"></p>
<p data-text="bwimage.taken-at"></p>
<p data-text="bwimage.author"</p>
<p data-text="bwimage.status"></p>
<p data-text="bwimage.url"></p>
<img data-src="bwimage.photo.url" src=""></p>
</div>

<div id="list">
  <div data-each-bwimage="bwimages">
    <div class="item" data-id="bwimage.id">
      <a data-text="bwimage.title" data-type="show"></a>

      <a data-type="edit">Edit</a> 
      <a data-type="destroy">Destroy</a>
    </div>
  </div>
</div>
