<div id="app"></div>

<script type="text/javascript" charset="utf-8">
  jQuery(function(){
      // onready, instantiate App
      window.app = new App({el: $("#app")})
      });
</script>

<div id="show">
<h1>Show Bwimage</h1>

<p data-text="bwimage.title"></p>
<p data-text="bwimage.camera"></p>
<p data-text="bwimage.taken-at"></p>
<p data-text="bwimage.taken-at"></p>
<p data-text="bwimage.author"</p>
<p data-text="bwimage.status"></p>
<p data-text="bwimage.url"></p>
<img data-src="bwimage.photo.url" src=""></p>
</div>

<div id="list">
  <div data-each-bwimage="bwimages">
    <div class="item" data-id="bwimage.id">
      <a data-text="bwimage:title" data-type="show"></a>

      <a data-type="edit">Edit</a> 
      <a data-type="destroy">Destroy</a>
    </div>
  </div>
</div>

<div id="bwimgs-list">
<table data-bind="foreach: bwimgs">
  <tr>
    <td data-bind="text: title"></td>
    <td data-bind="text: camera"></td>
  </tr>
</table>
</div>

<div id="element">
The ko title is <span data-bind="text: title"></span>
<br />
<p>Enter bid price: <input data-bind="value: title" /></p>
The ko camera is <span data-bind="text: camera"></span>
<br />
The ko author is <span data-bind="text: author"></span>
<br />
The ko title and camera is <span data-bind="text: fullName"></span>
<h2>Hello, <input data-bind="value: fullName">!</h2>
<p>Enter bid price: <input data-bind="value: formattedPrice" /></p>
</div>

<div id="ko">
The ko firstName is <span data-bind="text: firstName"></span>
<br />
The ko lastName is <span data-bind="text: title"></span>
<br />
The ko fullName is <span data-bind="text: fullName"></span>
<br />
The ko fullName <input data-bind="value: fullName"></span>
<br />
